<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bb01">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import bb01 urdf file -->
    <xacro:include filename="$(find robot_description)/robots/bb01/urdf/bb01.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="bb01.ros2_control.xacro" />


    <xacro:bb01_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
