<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="bb01" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="add_world" default="true"/>
  <xacro:arg name="robot_name" default="bb01"/>
  <xacro:arg name="use_gazebo" default="true"/>
  <xacro:arg name="use_camera" default="false"/>

  <!-- Constants -->
  <xacro:property name="PI" value="3.1415926535897931"/>

  <!-- World link (root link with no inertia to fix KDL parser warning) -->
  <xacro:if value="$(arg add_world)">
    <link name="world"/>
    
    <!-- Fixed joint connecting world to base_link -->
    <joint name="world_to_base_link" type="fixed">
      <parent link="world"/>
      <child link="base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
  </xacro:if>
  
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00064601 0.10414 0.00011194"
        rpy="0 0 0" />
      <mass
        value="1.4248" />
      <inertia
        ixx="0.0031253"
        ixy="-2.6179E-05"
        ixz="2.1053E-08"
        iyy="0.003454"
        iyz="-3.3531E-08"
        izz="0.0030775" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/robots/bb01/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/robots/bb01/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.00061615 -0.035012 0.099909"
        rpy="0 0 0" />
      <mass
        value="1.0064" />
      <inertia
        ixx="0.0018231"
        ixy="-3.5154E-06"
        ixz="6.7028E-07"
        iyy="0.0020403"
        iyz="-4.7843E-05"
        izz="0.0018167" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/robots/bb01/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/robots/bb01/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="-0.00015 -0.00015 0.19754"
      rpy="-0.0029659 -0.0010187 1.5515" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0.0010187 -0.0029659 1" />
    <limit
      lower="${-PI/2}"
      upper="${PI/2}"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.0045688 -0.11454 0.16567"
        rpy="0 0 0" />
      <mass
        value="1.5615" />
      <inertia
        ixx="0.0029543"
        ixy="-7.3979E-06"
        ixz="-7.283E-06"
        iyy="0.0034085"
        iyz="-3.5717E-05"
        izz="0.0024995" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/robots/bb01/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/robots/bb01/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0.00067709 -0.037871 0.12035"
      rpy="0.00043854 -0.029578 -9.4664E-05" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0.014776 -0.99989 -0.0029807" />
    <limit
      lower="${-PI/2}"
      upper="${PI/2}"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.0020327 0.038643 0.15836"
        rpy="0 0 0" />
      <mass
        value="1.343" />
      <inertia
        ixx="0.0021821"
        ixy="-9.5402E-06"
        ixz="-5.475E-06"
        iyy="0.0028133"
        iyz="-1.3279E-05"
        izz="0.0018406" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/robots/bb01/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/robots/bb01/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.0049974 -0.00078395 0.28776"
      rpy="-8.4251E-05 0.0057043 1.6764E-05" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="-0.014776 0.99989 0.0029807" />
    <limit
      lower="${-PI/2}"
      upper="${PI/2}"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.0010152 -0.070015 -0.0023299"
        rpy="0 0 0" />
      <mass
        value="0.55046" />
      <inertia
        ixx="0.00049665"
        ixy="-9.6215E-07"
        ixz="-2.2578E-07"
        iyy="0.00057531"
        iyz="1.3716E-05"
        izz="0.00048379" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/robots/bb01/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/robots/bb01/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.0046491 -0.022703 0.2623"
      rpy="7.8447E-05 -0.0053054 -1.6024E-05" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0.014776 -0.99989 -0.0029807" />
    <limit
      lower="${-PI/2}"
      upper="${PI/2}"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="0.00053971 0.0038265 0.053589"
        rpy="0 0 0" />
      <mass
        value="0.29573" />
      <inertia
        ixx="0.00022719"
        ixy="-1.8364E-07"
        ixz="-1.3865E-07"
        iyy="0.0002382"
        iyz="6.6998E-06"
        izz="0.00022535" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/robots/bb01/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/robots/bb01/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0.0019288 -0.10207 0.038213"
      rpy="-8.2251E-05 2.0839E-05 -0.0075015" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0.010953 -0.0028189 0.99994" />
    <limit
      lower="${-PI/2}"
      upper="${PI/2}"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="0.00067829 -0.046337 -0.00080576"
        rpy="0 0 0" />
      <mass
        value="0.19845" />
      <inertia
        ixx="9.3187E-05"
        ixy="-2.5318E-07"
        ixz="1.7378E-07"
        iyy="0.00011246"
        iyz="2.0627E-06"
        izz="7.0288E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/robots/bb01/meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/robots/bb01/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="0.0012818 -0.045033 0.056344"
      rpy="-8.9373E-05 0.0060513 1.7769E-05" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="-0.014776 0.99989 0.0029807" />
    <limit
      lower="${-PI/2}"
      upper="${PI/2}"
      effort="0"
      velocity="0" />
  </joint>
</robot>